<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RecycleCops</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="about.css">
    </head>
    <body>


   <header>
          <section>
              <div class="header-brand" href="index.html">
                  <h2><br/><br/>RecycleCops </h2>
              </div>


       </section>
        <nav>

        <ul>
        <li><a href="index.html">Home</a></li>
             <li><a href="about.html" target="_blank">About Us</a></li>
            <li><a href="services.html" target="_blank">Services</a></li>
            <li><a href="register.html" target="_blank">Ask any Query</a></li>
            <li><a href="register.html" target="_blank">Register</a></li>



</ul>
 </nav>
        </header>
        <main>
          <section >
            <div class="ab">

     <h6>ABOUT US</h6>

</div>
     <h6>OVERVIEW</h6>

<div class="vision">
  <h1>vision </h1>

</div>
<div class="vbox">
  <h1>
To become the world’s largest Waste Management platform for continuing Saving Nature, in partnership with corporates and Public</h1>

  </div>
  <div class="moto">
      <h1>moto </h1>


  </div>
  <div class="mbox">
<h1>"PROVIDING EMPLOYMENT TO RAG PICKERS AND SAVE NATURE"</h1>
    </div>
    <h4>RecyclingCops is a company in the field of waste management which is started under the StartUp campaign of  the Govt. of India. The journey of RecyclingCops began in 2018 with registration under the Societies Act. <br />providing free doorstep pickup service and Cash on Pickup  to our clients. Order can be simply placed through a call, message, mail or on our website.</h4>
     <h6>We Provide Great Services</h6>



  <div class="key">
      <h1>Key Features </h1>


  </div>
  <div class="el">
    <ul>
      <li>We work on the motto that the resources we are using today should be passed to our next generations in not only abundant quantity but in better quality than we have today also.</li>
      <li>We use totally recycled plastic bags for pickup and no carbon emission vehicals for the pickup and transportation. </li>
      <li> We also provide option of digital payment to our clients to reduce the use of paper currency</li>
      <li>Most of our employees are those who were rag pickers and beggars at a time so we provided them a mainstream job where they can earn a respectful livelihood.</li>

         <li>PROVIDING EMPLOYMENT TO RAG PICKERS AND SAVE NATURE  </li>
          <li>Environment Oriented and Awarness Program.</li>
</ul>
  </div>
          </section>
        <footer>
            <ul class="footer-links-main">
            <li><a href="nav.html">Home</a> </li>
            <li><a href="portfolio.html">Carrers</a> </li>
            <li><a href="Cases.html">News Room </a> </li>
            <li><a href="Contacts.html">Acheivments</a> </li>
            </ul>

         <ul class="footer-links-cases">
             <li><p>Latest Cases</p></li>
            <li><a href="#">Walcot</a> </li>
            <li><a href="nav.html">Video production</a> </li>
            <li><a href="portfolio.html">Moto</a></li>
            <li><a href="Cases.html">Excellents</a></li>
            </ul>

            <!--Social Media Links-->
            <div class="footer-sm">
            <a href="#"><img src="240px-Facebook_font_awesome.svg.png" alt="Facebook.com"></a>
            <a href="#"><img src="Instagram_Rounded_Solid_icon-icons.com_61560.png" alt="youtube.com"></a>
            <a href="#"><img src="icons8-twitter-50.png" alt="youtube.com"></a>
            <a href="#"><img src="if_80-google-plus_104424.png" alt="youtube.com"></a>
            <a href="#"><img src= "icons8-linkedin-50.png"alt="youtube.com"></a>
            <a href="#"><img src="youtube-symbol.png"alt="youtube.com"></a>


            </div>
        </footer>






        </main>


    </body>



</html>
