<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RecycleCops</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="service1.css">
    </head>
    <body>


   <header>
          <section>
              <div class="header-brand" href="index.html">
              </div>


       </section>
        <nav>

        <ul>
        <li><a href="index.html">Home</a></li>
             <li><a href="about.html" target="_blank">About Us</a></li>
            <li><a href="services.html" target="_blank">Services</a></li>
            <li><a href="register.html" target="_blank">Get Involved</a></li>

            <li><a href="register.html" target="_blank">FAQ</a></li>

            <li><a href="register.html" target="_blank">Donate</a></li>



</ul>
 </nav>
        </header>
        <main>
          <section >
            <div class="img-banner" >
              <h4>Commercial Waste Management </h4>

            </div>

            <div class="des">
              <p>Description – RecycleCops provides quality collection, recycling and disposal services to both large and small businesses<br /><br /><br />

Whether it’s a stand-alone retail store, a midsize office building, a regional shopping mall or a multi-national corporation, Recycle Cops can provide your business with efficient, dependable and responsive waste management services that supports your bottom line. Recycle Cops customizes its services to meet your requirements. Call us today and learn how we can help you reduce your waste line!<br /><br />


Recycling Services: Our Organization works along with you in establishing proper waste recycling practices. We help you to implement a recycling program within your organization, that assist you in meeting your recycling goals and keep in line with regulatory requirements.<br /><br />

Construction Waste Management Services: Keep your construction site debris free with Recycle Cops debris collection services!<br /><br /><br />

This service is available only in the National Capital Region, Bangalore, Mewat (Haryana), Bhiwandi, Ludhiana, Kolkata, Jaipur and Sonipat. For large projects of more than five months in duration, RecycleCops can provide the service on a pan India based



              </p>



            </div>






    </section>

    <footer class="foot">
    <div class="home-link">
      <ul>
        <a href="../services/views/index.html"></a><li>Home  </li>
        <a href="index.html"></a><li>About Us  </li>
        <a href="index.html"></a><li>Get Involved  </li>
        <a href="index.html"></a><li>Blog  </li>
        <a href="index.html"></a><li>Donate  </li>

        <a href="index.html"></a><li>Resources  </li>
      </ul>

    </div>

    <div class="social-media">
      <a><img src="../images/facebook.png" /></a>
      <a><img src="../images/instagram.png" /></a>
      <a><img src="../images/linkedin.png" /></a>
      <a><img src="../images/twitter.png" /></a>
    </div>
    <div class="foo-ser" >
      <h3>Services</h3>
      <ul>
        <a><li>Document Destruction</li></a>
        <a><li>Product Destruction</li></a>
        <a><li>Commercial Waste collection</li></a>
        <a><li>Residential Waste collection</li></a>
        <a><li>Industrial Waste collection</li></a>


      </ul>

    </div>

    <div class="contacts">
      <h3>Contact Us</h3>
       <h2>Head Office</h2>
       <p>Road no4,Dalmia Compound
         Lakhibagh,Manipur,
         Gaya,Bihar<br />
          contact no:<br />
          Email id:</p>

    </div>

    <div class="copyright">
    <h1>2018 © Copyright,RecycleCops.All Rights Reserved.</h1>

    </div>







    </footer>








        </main>


    </body>



</html>
